<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1055187042914-he4qlolqd4bb2t59fcvniij8sgoqmog0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1055187042914-he4qlolqd4bb2t59fcvniij8sgoqmog0</string>
	<key>API_KEY</key>
	<string>AIzaSyB_aY9cMRkyk3lCJCQsui2WtdH1Lm6kF54</string>
	<key>GCM_SENDER_ID</key>
	<string>1055187042914</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatApplication</string>
	<key>PROJECT_ID</key>
	<string>chatapplication-86360</string>
	<key>STORAGE_BUCKET</key>
	<string>chatapplication-86360.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1055187042914:ios:a3516ea51ae0351c3b073b</string>
</dict>
</plist>